.wd-icon-text {
    margin-left: 10px;
}

.wd-icon {
    margin-top: 3px;
}

.wd-list-flex {
    display: flex;
}

.icon-place {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.icon-pos {
    margin-left: -13px;
    margin-top: -4px;
}

.wd-tweet {
    border-radius: 30px;
}

.wd-icon-width {
    width: 15px;
}