.wd-row {
    padding-top: 10px;
}

.wd-icon-text {
    margin-left: 10px;
}

.wd-icon {
    margin-top: 3px;
}

.wd-list-flex {
    display: flex;
}

.wd-A-input {
    float: left;
    border-radius: 40px;
    padding: 10px 0px;
    color: white;
}

.wd-btn-grp {
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    /* border: none; */
    background: white;
    /* border: transparent; */
}

.wd-settings-icon {
    text-align: center;
    padding: 20px 0px;
}

.wd-tweet {
    margin-top: 10px;
    border-radius: 30px;
}

.img-size {
    width: 120px;
    height: 50px;
}



.img-no-wrap {
    white-space: nowrap;
}

@media (min-width:992px) and (max-width: 1336px) {
    .row>.col-lg-2 {
        width: 100px !important;
    }
}

.top-none {
    margin-top: -10px;
}

.img-size {
    width: 65px;
    height: 65px;
}